.detailContent{
    height: 100%;
    width: 74%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.header{
    height: 13%;
    width: 100%;
    background-color: #001F8B;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.48px;
    color: white;
}

.profileDP{
    height: 60%;
    width: 5%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
}

.spanName{
    margin-left: 2%;
}

.detailsDiv {
    height: 60%;
    width: 100%;
    background-color: #DAE5F5;
    overflow-y: auto; 
    overflow-x: hidden;
    scrollbar-width: thin; 
    scrollbar-color: white #000000A1; 
}

.detailsDiv::-webkit-scrollbar {
    width: 0.6vw; 
}

.detailsDiv::-webkit-scrollbar-thumb {
    background-color: white; 
    border-radius: 1vh;
}

.detailsDiv::-webkit-scrollbar-track {
    background-color: #000000A1; 
}

.oldNotes {
    height: 30%; 
    width: 92%;
    background-color: white;
    color: black;
    font-size: 0.8rem;
    margin: 2% 3%;
    border-radius: 1vh;
    padding: 2vh; 
    position: relative;
}
.dateTime{
    position: absolute;
    right: 5%;
    bottom: 1%;
    font-size: 0.5;
    color: black;
}   

.inputDiv{
    height: 27%;
    width: 100%;
    background-color: #001F8B;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputArea{
    height: 77%;
    width: 92%;
    background-color: white;
    color: black;
    outline: 0;
    padding: 2%;
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 1vh;
}

.sendImg{
    position: absolute; 
    width: 4%; 
    height: 4%; 
    right: 6%;
    bottom: 5%;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .detailContent {
        width: 0;
        overflow: hidden; 
    }
}
