.homePage {
    height: 100vh;
    width: 100vw;
    display: flex;
    position: relative;
}

.savedNotes {
    height: 100vh;
    width: 26%;
    background-color: white;
    position: relative;
    overflow-y: auto;
    scrollbar-width: thin; 
    scrollbar-color: white #000000A1; 
}

.savedNotes::-webkit-scrollbar {
    width: 0.6vw; 
}

.savedNotes::-webkit-scrollbar-thumb {
    background-color: white; 
    border-radius: 1vh;
}

.savedNotes::-webkit-scrollbar-track {
    background-color: #000000A1; 
}


.title {
    padding: 5% 20%;
    color: #000;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.7px;
    position: sticky;
    top: 0;
    background-color: white;
}

.add {
    position: absolute;
    border-radius: 50%;
    height: 11%;
    width: 5%;
    font-size: 2.8rem;
    color: white;
    text-align: center;
    background-color: #16008B;
    font-weight: 700;
    cursor: pointer;
    bottom: 8%;
    left: 19%;
}

.nameCard {
    height: 10%;
    width: 100%;
    margin-top: 2%;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.48px;
    cursor: pointer;
    border-radius: 1vh;
}

.profileDP {
    height: 83%;
    width: 15%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15%;
}

.spanName {
    margin-left: 10%;
}